@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    text-align: center;
    background: url('../img/interstellar.jpg');
    color: #FF00FF;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}
#title{
	font-size: 20px;
}

#comments {
	padding: 2px;
}

#name {
	font-size: 20px;
}
